{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>

        </tr>
    </table>
    {% for antelope in antelopes %}
        <tr>
            <td>{{ antelope.idAntelope }}</td>
            <td>{{ antelope.name }}</td>
        </tr>
    {% endfor %}

{% endblock %}
